{% extends "basic-0.html" %}
{% set active_page = "cmes" %}

{% block title %}Эходата 3.0: {{ patient.surname }} {{ patient.name }} {{ patient.fathername }} {% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

<h2>Выберите шаблон:</h2>

<table class="w3-table w3-striped w3-hoverable">
  <tr>
        <th>
            Название шаблона
        </th>
        <th>
            Тип записи
        </th>
        <th>
            
        </th>
        <th>
            
        </th>

 </tr>



{% for template in templates | selectattr('comments') | reverse %}
    <tr >
        <td>
            {{ template.title }}
        </td>
        <td>
            {{ template.id }}
        </td>
        <td> <button onclick="window.location.href='{{ url_for('filltemplateform', tid=template.id, pid=patient.id, rid=0) }}'">
            чистая форма </button>
        </td>
        <td> <button onclick="window.location.href='{{ url_for('prefilltemplateform', tid=template.id, pid=patient.id, rid=0) }}'">
            Взять данные из DICOM </button>
        </td>

    </tr>

{% endfor %}


</table>


{% endblock %}


{% block footer %}
{% endblock %}



