

<html>
    <head>
        <meta charset="utf-8"  lang="ru">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Инфантильные гемангиомы (перевод)</title>
        <style></style>
    </head>


<body>

<h3>«Инфантильные гемангиомы»</h3>

<hr>
<h1>Введение</h1>
<p>Инфантильные гемангиомы (ИГ) — самые частые опухоли у детей. В отличие от других опухолей они могут подвергаться обратному развитию после начальной пролиферации, из-за чего многие педиатры считают, что они проходят сами без последствий и не требуют лечения. Однако некоторые ИГ могут вызывать осложнения, сопровождающиеся болью, функциональными нарушениями и стойкими рубцами. Поэтому педиатру важно понимать, в каких случаях пациента надо вовремя направить к специалисту.
</p><p>В этом документе (<a href="http://pediatrics.aappublications.org/content/136/4/786.full" rel="nofollow">http://pediatrics.aappublications.org/content/136/4/786.full</a>) приводятся выводы из большого согласительного документа по диагностике и лечению инфантильных гемангиом (Pediatrics. 2015;136[4]:e1060–e1104, available at: <a href="http://www.pediatrics.org/content/136/4/e1060.full)" rel="nofollow">www.pediatrics.org/content/136/4/e1060.full)</a>. При составлении документа учитывались мнения представителей разных специальностей, участвующих в лечении инфантильных гемангиом. Цель этого документа — донести до педиатрического сообщества последние данные о патогенезе, клиническом течении и лечении инфантильных гемангиом, чтобы принятие решений основывалось на имеющихся на сегодняшний день знаниях.
</p><p></p><h1>Номенклатура</h1>
<p><b>Инфантильная гемангиома</b> — это сосудистое новообразование, характеризующееся патологической пролиферацией эндотелиальных клеток с нарушением нормальной сосудистой архитектуры. В отличие от ИГ, сосудистые мальформации — это структурные аномалии и врожденные пороки сосудистого морфогенеза. К последним относятся капиллярные мальформации (портвейновые пятна), венозные мальформации, лимфатические мальформации (ранее известные как лимфангиомы или кистозные гигромы) и артериовенозные мальформации.
</p><p><b>Врожденные гемангиомы</b> имеют иную биологию и ведут себя иначе, чем ИГ. К рождению они полностью сформированы и делятся на два вида: врожденные гемангиомы с быстрой инволюцией и врожденные гемангиомы, не подвергающиеся инволюции.
</p><p><b>Пиогенная гранулема</b> (или лобулярная капиллярная гемангиома) представляет собой реактивную пролиферацию сосудов. Хотя ее относят к сосудистым новообразованиям и часто принимают за ИГ, пиогенная гранулема имеет совсем другой патогенез и клиническую картину.
</p><p><b>“Кавернозные гемангиомы”</b> как правило на самом деле представляют собой просто глубокие ИГ или венозные мальформации.
</p><p>Коагулопатии потребления (феномен Казабаха—Мерритта) при ИГ не развиваются, но характерны для других сосудистых новообразований (капошиподобной гемангиоэндотелиомы и мутовчатой ангиомы).
</p><p></p><h1>Эпидемиология</h1>
<p>ИГ встречаются примерно у 5% новорожденных, у девочек заболеваемость в 1,4—3 раза выше, чем у мальчиков.
</p><p>К факторам риска ИГ относятся белая раса, недоношенность, низкий вес при рождении, возраст матери, многоплодная беременность, предлежание плаценты и преэклампсия. Кроме того, риск может повышаться при внутриутробной диагностике (амниоцентез и биопсия хориона), приеме препаратов по поводу бесплодия и эритропоэтина, тазовое предлежание и первородство.
</p><p></p><h1>Патогенез и гистопатология</h1>
<p>Патогенез ИГ остается не до конца понятным. Развитию ИГ способствуют как внутренние (ангиогенные) факторы так и внешние (тканевая гипоксия, нарушения эмбриогенеза).
</p><p>Эндотелиальные стволовые клетки могут давать начало ИГ за счет клональной экспансии, что приводит в ангиогенезу. Вместе с тем, эти опухоли могут развиваться и из фетальных стволовых клеток, попадающих при повреждении плаценты во время беременности или родов.
</p><p>Наиболее согласованная теория заключается в том, что ИГ возникает в результате аберрантной пролиферации и дифференцировки плюрипотентной стволовой клетки, мигрирующей в места, где имеются благоприятные условия для роста плацентоподобной ткани.
</p><p>Пролиферирующие ИГ гистологически представляют собой четко очерченные разделенные на дольки конгломераты капилляров, выстланных округлыми эндотелиальными клетками, часто дренирующиеся расширенными венами. ИГ, подвергшиеся инволюции, состоят из фиброзно-жировой стромы с остаточными тенями сосудов, тучных клеток и телец апоптоза.
</p><p>Иммуногистохимическое окрашивание ИГ дает положительные результаты на транспортный белок глюкозы 1 (GLUT1), CD31, CD34, антиген, родственный VIII фактору и другие. GLUT1 — наиболее используемый и информативный маркер в диагностике ИГ.
</p><p></p><h1>Клиническая картина</h1>
<p>ИГ обычно появляются в возрасте до 4 недель и прекращают расти к 5 месяцам, хотя пролиферация может продолжаться до 12 мес. Глубокие ИГ появляются позже и растут дольше. Инволюция начинается обычно в возрасте 6—12 месяцев и осуществляется в основном до 4 лет. По мере инволюции ИГ уплощается, уменьшается и бледнеет.
</p><p>Более 70% ИГ оставляют после себя изменения на коже: телеангиэктазии, фиброзно-жировую ткань, избыточную кожу, атрофию, нарушение пигментации или рубец (особенно после изъязвления).
</p><p>Развитию ИГ может предшествовать побледнение кожи или появление телеангиэктатической эритемы.
</p><p>В пролиферативной фазе ИГ классифицируются по глубине:
</p><p><img src="http://pediatrics.aappublications.org/content/pediatrics/136/4/786/F1.large.jpg" width="50%">
</p><p><b>Рисунок</b>
</p><p>Поверхностная ИГ (A): красная поверхность, подкожный компонент не определяется.
</p><p>Глубокая ИГ (B): поверхность синеватая, опухоль находится под поверхностью кожи.
</p><p>Смешанная ИГ (C): имеются компоненты поверхностной и глубокой ИГ.
</p><p>
</p><p>Абортивная ИГ (с остановившимся или минимальным ростом) представляет собой участок телеангиэктазии, который может не пролиферировать.
</p><p>
</p><p><img src="http://pediatrics.aappublications.org/content/pediatrics/136/4/786/F2.large.jpg" width="50%">
</p><p><b>Рисунок: абортивная ИГ.</b>
</p><p>
</p><p>В зависимости от анатомической конфигурации ИГ классифицируют следующим образом:
</p><p></p><li>Локализованные (очаговые) ИГ: очерченные образования, исходящие из одной точки.
<p></p></li><li>Сегментарные ИГ: более крупные образования, обычно имеющие вид бляшки, покрывающие область, соответствующую нейроэктодермальной плакоде.
<p></p></li><li>ИГ неопределенной анатомии: образования, которые не удается четко  охарактеризовать как очаговые или сегментарные.
<p></p></li><li>Многоочаговые ИГ: очаговые образования в двух и более областях; при 5 и более образования следует заподозрить печеночную гемангиому.
<p>Сегментарные ИГ могут сочетаться с внекожными проявлениями.
</p><p>
</p><p><img src="http://pediatrics.aappublications.org/content/pediatrics/136/4/786/F3.large.jpg" width="50%">
</p><p><b>Рисунок: сегментарная ИГ.</b>
</p><p>
</p><p>Небольшая часть детей с ИГ имеют сопутствующие врожденные аномалии, так называемые клинические ассоциации. К ним относятся:
</p><p>Синдром PHACE: врожденная васкулопатия, с дефектами задней черепной ямки (Posterior fossa defects), гемангиомами (Hemangiomas), патологией артерий головного мозга (cerebrovascular Arterial anomalies), сердечно-сосудистыми пороками (Cardiovascular anomalies), включая коарктацию аорты, и патологию глаза (Eye anomalies). При синдроме PHACE обычно бывают большие и сегментарные ИГ, чаще всего расположенные на лице, волосистой части головы и шее.
</p><p>Синдром LUMBAR: гемангиомы нижней половины тела (Lower body IH) и другие кожные дефекты, аномалии мочеполовых органов (Urogenital anomalies), изъязвления (Ulceration), миелопатия (Myelopathy), костные деформации (Bony deformities), пороки аноректальной области (Anorectal malformations), пороки развития артерий (Arterial anomalies) и почек (Renal anomalies). ИГ при синдроме LUMBAR обычно сегментарные и располагаются в пояснично-крестцовой или аногенитальной области. LUMBAR иногда описывают другими аббревиатурами, например “SACRAL” или “PELVIS”. Иногда его рассматривают как аналог синдрома PHACE, но с поражением нижней половины тела.
</p><p>
</p><p></p><h1>Осложнения</h1>
<p>Меньшинство гемангиом (до 24% среди тех, кого направляют к детским дерматологам) чреваты осложнениями, угрожающими функции или жизни.
</p><p></p></li><li>Изъязвление: это самое частое осложнение, возникающее по данным одного наблюдения в 16% случаев; к факторам риска относится большой размер, сегментарные ИГ, расположение на голове, шее, около рта, в промежности и перианально.
<p></p></li><li>Кровотечение.
<p></p></li><li>Нарушения зрения: связано с птозом, амблиопией, астигматизмом.
<p></p></li><li>Нарушения питания: при ИГ на губах, в ротоглотке.
<p></p></li><li>Нарушения слуха.
<p></p></li><li>Сердечная недостаточность: развивается при больших гемангиомах вследствие артериовенозного шунтирования.
<p></p></li><li>Обструкция дыхательных путей: риск ИГ в дыхательных путях повышается при ИГ в “зоне бороды”.
<p></p></li><li>Гипотиреоз: может развиваться при диффузной печеночной ИГ, связан с избыточной продукцией иодотирониндеиодиназы 3 типа.
<p>Сегментарные ИГ осложняются намного чаще локализованных, в основном за счет изъязвления.
</p><p>Лицевые ИГ осложняются чаще, чем нелицевые.
</p><p>
</p><p></p><h1>Диагностика</h1>
<p>Визуализационная диагностика при ИГ обычно не нужна.
</p><p>Дополнительные методы исследования могут потребоваться, если диагноз неясен, для уточнения глубины поражения, при подозрении на ИГ как часть синдрома PHACE или LUMBAR, а также при оценке эффективности лечения.
</p><p>Наибольшей диагностической ценностью обладает УЗИ, а для оценки глубины поражения лучше подходит МРТ.
</p><p>
</p><p></p><h1>Клинический подход к ИГ</h1>
<p>Показания к лечению:
</p><p></p></li><li>Экстренное лечение потенциально опасных осложнений.
<p></p></li><li>Срочное лечение в связи с нарушением функции, болью или кровотечением, а также при угрозе их развития.
<p></p></li><li>Оценка структурных аномалий, связанных с ИГ.
<p></p></li><li>Плановое лечение для профилактики необратимых дефектов.
<p>Нет четкого алгоритма, позволяющего определить лучший метод и сроки лечения в каждом конкретном случае. На выбор лечения влияют следующие факторы:
</p><p></p></li><li>Возраст пациента
<p></p></li><li>Фаза роста образования
<p></p></li><li>Локализация и размер образования
<p></p></li><li>Степень поражения кожи
<p></p></li><li>Тяжесть осложнений и необходимость срочного вмешательства
<p></p></li><li>Возможность психологической травмы
<p></p></li><li>Предпочтения родителей
<p></p></li><li>Опыт врача
<p>
</p><p></p><h1>Лечение изъязвленных ИГ</h1>
<p>Рекомендации основаны в основном на экспертном мнении, качественных исследований нет.
</p><p>Лечение заключается в уходе за раной, обезболивании, ограничении роста ИГ, и профилактике вторичного инфицирования. Основу лечения составляет тщательный уход за раной, использование барьерных мазей и повязок, а также местных антибиотиков.
</p><p>При изъязвленных ИГ, не отвечающих на местную терапию, может использоваться дополнительное медикаментозное и хирургическое лечение. Появляется все больше данных, что пропранолол может быть эффективен при изъязвленных ИГ. Изредка, когда медикаментозное лечение не помогает, приходится прибегать к хирургическому лечению.
</p><p>
</p><p></p><h1>Медикаментозное лечение</h1>
<p>Системные кортикостероиды использовались в качестве основного средства с 1960-х гг. и вплоть до 2008 г., когда появились данные о высокой эффективности бета-адреноблокаторов (пропранолола) при ИГ.
</p><p></p><h2>Бета-адреноблокаторы</h2>
<p>Механизм действия пропранолола, неселективного бета-адреноблокатора, при ИГ не вполне ясен. Предполагается, что в основе его действия лежит вазоконстрикция, подавление ангиогенеза, снижение активности матричных металлопротеиназ и интерлейкина-6, регуляция ренин-ангиотензиновой системы и подавление синтеза оксида азота.
</p><p>Пероральная форма пропранолола (Hemangeol [Pierre Fabre, Castres, France]) для лечения гемангиом была одобрена FDA в марте 2014 г. В России пропранолол продается в таблетка по 10 и 40 мг. В большом рандомизированном клиническом испытании было показано, что Hemangeol эффективен в дозе 3,4 мг/кг/сут в течение 6 мес.
</p><p>Противопоказания к пропранололу: кардиогенный шок, синусовая брадикардия, артериальная гипотония, АВ-блокада 2-й степени, сердечная недостаточность, бронхиальная астма, аллергия к препарату. Особую осторожность следует проявлять у детей с синдромом PHACE из-за возможности опасных внутричерепных сосудистых аномалий.
</p><p>Единых рекомендаций по обследованию перед лечением нет. Сбор анамнеза и внимательный осмотр с упором на сердечно-сосудистую и дыхательную систему позволяет оценить, может ли пациент принимать пропранолол. Некоторые врачи записывают ЭКГ и направляют на консультацию к кардиологу, но ценность такого подхода при неотягощенном сердечно-сосудистом анамнезе сомнительна.
</p><p>В согласительном документе рекомендуется начинать терапию пропранололом в медицинском учреждении с оценкой сердечно-сосудистых показателей каждый час в течение первых двух часов. При увеличении дозы у детей старше 8 недель более, чем на 0,5 мг/кг/сут, тоже рекомендуется мониторинг. Детям младше 8 недель или с постконцептуальным возрастом менее 48 недель, а также детям с плохой социальной поддержкой, лучше начинать лечение в стационаре.
</p><p>Рекомендованная доза пропранолола составляет 1—3,4 мг/кг/сут в 2—3 приема. Продолжительность лечения — до достижения возраста 8—12 мес,  или в течение 3—12 мес, в зависимости от возраста начала лечения и его эффективности. Рикошетный рост после отмены препараты описывается в 5—25% случаев, поэтому некоторые врачи отменяют пропранолол постепенно, в течение нескольких недель или месяцев.
</p><p>К частым побочным эффектам пропранолола относятся нарушения сна, похолодание кистей и стоп, понос и бронхоспазм. Редкие побочные эффекты — брадикардия и артериальная гипотония (чаще бессимптомные), тяжелая гипогликемия, которая может проявляться заторможенностью и судорогами.
</p><p>Для снижения риска гипогликемии можно давать препарат после еды, временно отменять его во время болезни, когда ребенок плохо ест, при рвоте и поносе, а также избегать длинных интервалов (более 6 ч) между приемами пищи.
</p><p>В отдельных наблюдениях и в сериях случаев описано эффективное применение местного тимолола при поверхностных ИГ. Это бета-адреноблокатор, использующийся для лечения глаукомы. Гель с 0,5% содержанием тимолола системно всасывается меньше, чем раствор.
</p><p></p><h2>Кортикостероиды</h2>
<p>При противопоказаниях к пропранололу или его неэффективности могут быть эффективны кортикостероиды. В большинстве исследований доза преднизолона или преднизона составляла 2—3 мг/кг/сут однократно утром. Обычно требуется несколько месяцев лечения. Кортикостероиды наиболее эффективны, если начинать лечение в фазу пролиферации.
</p><p>Длительный прием кортикостероидов чреват множеством побочных эффектов, включая раздражительность, нарушения сна, раздражение желудка, артериальную гипертонию, иммунодефицит, подавление гипоталамически-гипофизарно-надпочечниковой оси, задержку роста и кушингоидную внешность. Эти побочные эффекты чаще развиваются при более высоких дозах и длительном приеме, как правило они обратимы. Рекомендуется контроль за артериальным давлением и скоростью роста.
</p><p>Введение кортикостероидов в образование часто эффективно при небольших локализованных ИГ. Хотя побочные эффекты описываются редко, возможно системное действие кортикостероидов, особенно при больших дозах и многократных введениях. Безопасность и четкие схемы введения не установлены. Введение в образование уже не считается предпочтительным методом лечения. Высокоактивные местные кортикостероиды эффективны при небольших поверхностных ИГ, но в их лечении сейчас используются местные бета-адреноблокаторы.
</p><p></p><h2>Другие препараты</h2>
<p>Есть и другие препараты, кроме кортикостероидов и бета-адреноблокаторов, которые могут быть эффективны при лечении ИГ, но их применение ограничено побочными эффектами. Интерферон-альфа использовался в 1980-х гг., но перестал использоваться из-за нейротоксичности.
</p><p>
</p><p></p><h1>Лазерное лечение ИГ</h1>
<p>Лазерное лечение ИГ может быть эффективным при непролиферирующих поверхностных образованиях. Оно позволяет сохранить кожу в критических местах, ограничить изъязвление и устранить постинволюционную телеангиэктазию. Лазерное лечение может использоваться в рамках мультимодального подхода.
</p><p>Чаще всего используется импульсный лазер на красителе, поскольку его свет преимущественно поглощается гемоглобином.
</p><p>В некоторых исследованиях было показано, что импульсный лазер на красителе при пролиферирующих и сегментарных ИГ может вызывать изъязвление. К другим осложнениям лазерной терапии относятся образование атрофических рубцов и гиперпигментация.
</p><p>
</p><p></p><h1>Хирургическое лечение ИГ</h1>
<p>Резекция пролиферирующих ИГ не рекомендуется, поскольку дети раннего возраста имеют более высокие анестезиологические риски, риски кровопотери и ятрогенного повреждения, чем дети более позднего возраста. Показанием к удалению ИГ в течение первого года жизни служит неэффективность других методов лечения при критических ИГ, очаговые ИГ в удобных для удаления местах, плановое удаление с формированием рубца, если ожидается что рубец будет таким же, если операция будет произведена после инволюции.
</p><p>Выполнение операции в возрасте старше 1 года дает образованию возможность подвергнуться инволюции, стать меньше в размерах и менее васкуляризированным. Соответственно, процедура становится менее опасной, размеры рубца будут меньше и успех операции более вероятен. После 4 лет ИГ редко значительно уменьшаются, поэтому операции предпочтительно проводить до этого возраста, пока образование не влияет на самооценку, а долговременная память еще не сформирована.
</p><p>Поскольку ИГ обычно растягивают кожу, реконструкция после их удаления чаще всего достигается линейным закрытием. Пересадка кожи и использование лоскутов обычно не требуется.
</p><p>Поскольку ИГ — доброкачественное новообразование, нет необходимости убирать его полностью. Цель лечения — улучшить внешний вид, и иногда намеренно выполняют лишь субтотальную резекцию.
</p><p>При циркулярных ИГ, расположенных на лице, длина рубца может быть уменьшена за счет циркулярной резекции и ушивания кисетным швом. Это уменьшает деформацию окружающих структур, но в дальнейшем для перевода циркулярного рубца в линейный может потребоваться еще одна операция.
</p><p>
</p><p></p><h1>ИГ сложных локализаций</h1>
<p>ИГ с поражением века может приводить к деформации роговицы и загораживать поле зрения, вызывая астигматизм, косоглазие и амблиопию. Ранняя оценка детским офтальмологом и раннее вмешательство может снизить риск последствий.
</p><p>Пропранолол практически заменил введение кортикостероидов в образование при ИГ верхнего века из-за риска слепоты вследствие эмболизации артерии сетчатки. Тем не менее, в не поддающихся лечению случаях возможно введение кортикостероидов в образование. Местные бета-адреноблокаторы могут быть эффективны при внутриглазных ИГ.
</p><p>ИГ дыхательных путей могут быть изолированными, но риск повышен у больных с крупными ИГ на нижней половине лица и в области шеи (так называемая “зона бороды”). Большинство образований находятся ниже надгортанника, что проявляется бифазным стридором и лающим кашлем, который часто принимают за круп. Для диагностики и оценки объема поражения требуется эндоскопия. Лечение обычно начинают с пропранолола, но если он быстро не помогает, возможна дилатация, введение кортикостероидов в образование и частичная резекция. Открытая резекция используется все реже с началом применения пропранолола.
</p><p>При ИГ кончика носа раннее медикаментозное лечение в сочетании с лазерной терапией позволяет избежать стойких последствий, развивающихся вследствие растяжения кожи, атрофии и повреждения хряща. Реконструктивные операции по поводу подвергшихся инволюции ИГ кончика носа часто требуются даже при раннем агрессивном лечении. Проводят резекцию образования, реконструкцию хряща и кожную пластику.
</p><p>ИГ в области губ и промежности, особенно сегментарные, склонны к изъязвлению. Раннее медикаментозное лечение позволяет этого избежать. Чтобы снизить трение при промежностных ИГ используют лубриканты, иногда в сочетании с барьерными повязками.
</p><p>ИГ в области красной каймы губ могут быть удалены поперечным разрезом слизистой, но при некоторых глубоких образованиях лучше делать разрез на границе кожи и красной каймы. Более крупные образования, вызывающие удлинение губы, а также пересекающие границу кожи и красной каймы губ, часто удаляют с помощью клиновидной резекции. Выворот нижней губы можно устранить резекцией полоски слизистой, а для коррекции заворота может потребоваться лиофилизированный дермальный имплант или трансплантация дермы.
</p><p></p><h2>Печень — самая частая локализация висцеральных гемангиом.</h2>
<p></p></li><li>Риск печеночных гемангиом повышается при 5 и более кожных ИГ, в этом случае целесообразен скрининг с помощью УЗИ.
<p></p></li><li>Печеночные гемангиомы могут быть очаговыми, множественными или диффузными. Очаговые образования представляют собой врожденные гемангиомы с быстрой инволюцией: к рождению они полностью сформированы и подвергаются быстрой инволюции в течение первого года. Множественные и диффузные образования представляют собой настоящие ИГ и часто сочетаются с кожными ИГ. Симптомные множественные и диффузные печеночные гемангиомы поддаются медикаментозному лечению.
<p></p></li><li>При больших множественных и диффузных гемангиомах следует оценить функцию щитовидной железы, поскольку в образовании может происходить дезактивация тиреоидных гормонов. Может потребоваться заместительная терапия.
<p></p></li><li>Диффузные печеночные гемангиомы могут вызывать гепатомегалию и абдоминальный компартмент-синдром.
<p>
</p><p></p><h1>Выводы</h1>
<p>Хотя многие ИГ можно просто наблюдать, в других случаях имеется явная польза от медикаментозного или хирургического лечения. При значимом риске осложнений и неясных показаниях к вмешательству, следует направить ребенка в опытному специалисту или в многопрофильный центр, занимающийся лечением ИГ. Педиатры должны быть в курсе последних достижений в лечении ИГ, поскольку подходы и методы лечения быстро меняются.
</p><p>
</p><p></p></li>


<hr>



    </body>
</html>