{% extends "basic-0.html" %}
{% set active_page = "profile" %}

{% block title %}Эходата 3.0: профиль пользователя {% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}
{% block content %}

<script language="JavaScript" type="text/JavaScript">
function validateForm() {
    var x = document.forms["entrance"]["email"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        alert("Неправильный адрес электронной почты.");
        return false;
    }
    if

}
</script>

<form name='entrance' onsubmit="return validateForm();" method="post" class='w3-container w3-card'>


<p>E-mail: </p><p><input type='text' id='email' name='username' ></p>

<input type='submit' value='Запросить новый пароль'></th></tr></table></form>

{% endblock %}

{% block footer %}
{% endblock %}