{% extends "basic-2.html" %}
{% set active_page = "patients" %}

{% block title %}Эходата 3.0: список пациентов{% endblock %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block index %}
<form method="get" class="w3-container w3-card-4 w3-light-grey w3-text-green w3-margin">
<h2 class="w3-center">Поиск</h2>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name=surname type="text" placeholder="Фамилия" value="{{ surname }}">
    </div>
</div>


<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name=name type="text" placeholder="Имя" value="{{ name }}">
    </div>
</div>

<div class="w3-row w3-section">
  <div class="w3-col" style="width:50px"><i class="w3-xxlarge"></i></div>
    <div class="w3-rest">
      <input class="w3-input w3-border" name=fathername type="text" placeholder="Отчество" value="{{ fathername }}">
    </div>
</div>


<button class="w3-button w3-block w3-section w3-green w3-ripple w3-padding">Найти</button>

</form>

<div class="w3-container">
<a href="{{ url_for('newpatient') }}" id="new"></a>
<button type="button" class="w3-button w3-block w3-section w3-green w3-ripple w3-padding" onclick="document.getElementById('new').click()">Завести нового пациента</button>
</div>

{% endblock %}


{% block content %}

<div class="w3-container">


<table class="w3-table w3-striped w3-hoverable">

    <tr>
        <th>
            Фамилия, имя, отчество
        </th>
        <th>
            Возраст
        </th>
        <th>
            Дата рождения
        </th>
    </tr>



{% for patient in patients %}
    <tr onclick='window.location.href="/patient/{{ patient.id }}"'>
        <td>
            {{ patient.surname }} {{ patient.name }} {{ patient.fathername }}
        </td>
        <td>
            {{ patient.dob|datetime('age') }}
        </td>
        <td>
            {{ patient.dob|datetime('date') }}
        </td>
    </tr>

{% endfor %}




</table>
</div>

{% endblock %}


