{% extends "basic-0.html" %}


{% block title %}Эходата 3.0 {% endblock %}

    {% block body_attrs %} onload="selectrow('{{ record.id }}');" {% endblock %}


{% block style %}

<style>
@import "/static/scripts/jsonform-jsonform-1dd0395/deps/opt/bootstrap.css";
@import "/static/scripts/jsonform-jsonform-1dd0395/deps/opt/bootstrap-wysihtml5.css";
</style>

<style>
    .nicEdit-main {
        overflow: auto !important;
        height: 5.5em;
        width: 300px;
    }
</style>

{% endblock %}
{% block script %}

<script type="text/javascript" src="/static/scripts/nicEdit.js"></script>

{% endblock %}



{% block content %}
<div class="w3-container w3-medium">
{% if mode=='html' %}
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
{% endif %}




<hr>

{% if view=='json' %}

<form class="form" style="margin:5px;width:100%;" method="post"></form>

{% endif %}

{% if view=='html' %}

{{ html | safe }}

{% endif %}

<hr>

<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/jquery.min.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/underscore.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/jsv.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/lib/jsonform.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/jquery-ui.js"></script>

<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/spectrum.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/ace.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/mode-json.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/mode-html.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/mode-css.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/mode-javascript.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/mode-less.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/ace/mode-markdown.js"></script>
<script type="text/javascript" src="/static/scripts/jsonform-jsonform-1dd0395/deps/opt/jquery.transloadit2.js"></script>


<script type="text/javascript">


  $('form').jsonForm(  {{ record.contents | safe }}  )

</script>

Автор: {{ record.author.name }} {{ record.author.surname }}
<span id='buttons'>
{% if record.versions|length > 0 %}
   <a class="w3-button w3-teal" href={{ url_for('version', rid=record.id) }}>Версия:
{% else %}
   Версия:
{% endif %}
{{ record.version }} (от {{ record.modified|datetime('medium') }}) </a>

</span>
</div>




<script>
    {% if isnew == 'new' %}
    var leftframe = parent.document.getElementById('leftframe');
    var innerDoc = leftframe.contentDocument || leftframe.contentWindow.document;
    leftframe.src+=''
    {% endif %}
    {% if isnew in ['saved'] %}
    var leftframe = parent.document.getElementById('leftframe');
    var innerDoc = leftframe.contentDocument || leftframe.contentWindow.document;
    innerDoc.getElementById('rline{{ record.id }}').innerHTML =
        `<td>
            <a href="/record/{{ record.id }}" id="a{{ record.id }}"  target='right'></a>
            {{ record.title }}
        </td>
        <td>
            {{ record.recorddate|datetime('date') }}
        </td>
        <td>
            {{ record.author.surname }} {{ record.author.name[0] }}.
        </td>`;

    {% endif %}

    selectrow({{ record.id }});

    function attach() {
        var fileinput = document.getElementById('file');
        fileinput.click();
    }

    function listAttachments() {
        var attach = document.getElementById('attach');
        var fileinput = document.getElementById('file');
        var txt='файлы: '
        if ('files' in fileinput) {
            if (fileinput.files.length > 0) {
                for (var i = 0; i < fileinput.files.length; i++) {
                    var file = fileinput.files[i];
                    txt += file.name + ' (';
                    txt += fileinput.files[i].size/1000 + ' kb) ';
                }
            }
        }
        attach.innerHTML=txt;
    }

    function loadattachment(aid=0) {
        var div = document.getElementById('contents');
        var buttons = document.getElementById('buttons');
        var displayable=['.txt', '.pdf', '.png', '.jpg', 'jpeg', '.gif']
        if (aid!=0) {
            var filename = document.getElementById('att'+aid).innerHTML
            if (displayable.includes(filename.slice(-4))) {
                if (filename.slice(-4)=='.pdf') {
                    div.innerHTML='<iframe width=100% height=100% src="/loadattachment/'+aid+'"></iframe>';
                }
                else {
                    div.innerHTML='<img width=100% src="/loadattachment/'+aid+'">';
                }
            }
            else {
                div.innerHTML=`Режим показа не работает для этого приложения. Вы можете загрузить его.
                    <button class="w3-button w3-teal" type="button" onclick="document.getElementById('download').click()">Загрузить</button>`;
            }
            buttons.innerHTML=`
                <a href='/deleteattachment/`+aid+`' id='delete'></a>
                <a href='/loadattachment/`+aid+`?m=attach' id='download'></a>
                <button class="w3-button w3-teal" type="button" onclick="document.getElementById('delete').click()">&#128686;</button>
                <button class="w3-button w3-teal" type="button" onclick="document.getElementById('download').click()">&DoubleDownArrow;</button>`
        }
        else {

            location.href='{{ url_for("record", rid=record.id, m=mode) }}';
        }



    }

    function abbrev() {
        var str = document.getElementById("contents").value;
        var res = str.replace("Microsoft", "W3Schools");
        if (str!=res) {
            pos = document.getElementById("contents").selectionStart;
            document.getElementById("contents").value = res;
            document.getElementById("contents").selectionStart=pos;
            document.getElementById("contents").selectionEnd=pos;
        }

    }



    function selectrow(rid) {
        var leftframe = parent.document.getElementById('leftframe');
        var innerDoc = leftframe.contentDocument || leftframe.contentWindow.document;
        var button = document.getElementById('bubb');
        rows=innerDoc.getElementsByClassName('recordrow');

        for (i = 0; i < rows.length; i++) {
          rows[i].className = "recordrow";
          if (rows[i].id=="rline"+rid) {
              rows[i].className = "recordrow w3-teal";
          }
          }


    }


    document.onkeydown = function(e) {
        if (e.ctrlKey && e.which == 80) {
            e.preventDefault();
            document.getElementById('print').click();
            }
        else if (e.ctrlKey && e.which == 83) {
            e.preventDefault();
            document.getElementById('save').click();
        }
    }

</script>


{% endblock %}


{% block footer %}
{% endblock %}


