{% extends "basic-2.html" %}
{% set active_page = "config" %}

{% block title %}Эходата 3.0{% endblock %}


{% block top %}
<div class="w3-container">
<a href="{{ url_for('ward', wid=0) }}" class="w3-button w3-green" target="right">Новое отделение</a>
</div>

{% endblock %}

{% block index %}
  <iframe src="{{ url_for('wardslist') }}" id="leftframe" name="left" width=100% height=100%></iframe>
{% endblock %}

{% block content %}
  <iframe src="{{ url_for('ward', wid=wards[0].id) if wards|length>0 }}" id="rightframe" name="right" width=100% height=100%></iframe>
{% endblock %}



{% block footer %}
{% endblock %}


